/* Variables Declaration */
* {
--delta: 22%;
--theme-blue-color: #00d8ff;
--font-hover-color: whitesmoke;
--font-plain-color: #d4af37;
--border-size-offset: 2px;
--accent-color: black; /*white*/
--hover-background-color: #d4af37; /*#222222*/
}


/* Planner's Grid Start */

.plan-grid {
  display: grid;
  padding: 78px 0 0;
  grid-template-columns: 20% 25% 1fr;
  grid-template-areas: "plan-sidebar plan-midmenu plan-rightcontent"
                       "plan-notesection plan-notesection plan-notesection"
                       "plan-footer plan-footer plan-footer";
}

.plan-sidebar {
  grid-area: plan-sidebar;
  display: flex;
  position: relative;
  height: auto;
  background-color: var(--accent-color);
  justify-content: center;
}

.plan-midmenu {
  grid-area: plan-midmenu;
  position: relative;
  height: auto;
  background-color: blue;
  padding-bottom: 1rem;
}

.plan-rightcontent {
  grid-area: plan-rightcontent;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  position: relative;
  background-color: var(--accent-color);
  gap: 5px;
}

/*.plan-rightcontent {
  grid-area: plan-rightcontent;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10%, 10%, 60%, 20%;
  grid-template-areas: "options-right-box"
                       "heading-right-box"
                       "table-right-box"
                       "placevisit-right-box";
  position: relative;
  background-color: var(--accent-color);
}

.options-right-box {
  grid-area: options-right-box;
}

.heading-right-box {
  grid-area: heading-right-box;
}

.table-right-box {
  grid-area: table-right-box;
}

.placevisit-right-box {
  grid-area: placevisit-right-box;
}*/

.plan-notesection {
  grid-area: plan-notesection;
}

.plan-footer {
  grid-area: plan-footer;
}

/* Planner's Grid End */

/* Side Pane buttons  and h3 tag Start*/

  .centered-planner {
    position: relative;
    top: 0;
    text-align: center;
  }

  .centered-planner ul li {
    font-weight: 500;
    padding: 6px;
  }

  .centered-planner h3 {
    position: relative;
    padding: 3px;
    color: whitesmoke;
  }

  .centered-planner h3::before {
    content: "";
    position: absolute;
    left: var(--delta)+3;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #1a1b1b, #a9bbbe);
  }

  .btn-plan-style {
    background-color: var(--hover-background-color);
    color: var(--font-plain-color);
    padding: var(--border-size-offset);
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
  }

  .btn-plan-style::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1.5);
  }
  
  .btn-plan-style:hover::before,
  .btn-plan-style:focus::before {
    transform: scale(0);
  }
  
  .btn-plan-style {
    z-index: 1;
    overflow: hidden;
    background-color: whitesmoke;
    transition: color 70ms ease-in-out;
  }
  
  .btn-plan-style:hover,
  .btn-plan-style:focus {
    color: var(--font-plain-color);
  }

  .btn-plan-style.active::before {
    color: var(--font-plain-color);
    transform: scale(0);
  }

/* Side Pane buttons  and h3 tag End*/

 /* Mid Pane buttons Start*/

 .plan-btn-pane {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  position: relative;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.plan-btn-pane h3 {
  position: relative;
  padding: 3px;
  color: whitesmoke;
}

.plan-btn-pane h3::before {
  content: "";
  position: absolute;
  left: var(--delta)+3;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #a9bbbe, #1a1b1b);
}

.btn-plan-submenu {
  background-color: var(--hover-background-color);
  color: var(--font-plain-color);
  padding: var(--border-size-offset);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
 }

 .btn-plan-submenu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;
  transform: scale(1.5);
}

.btn-plan-submenu:hover::before,
.btn-plan-submenu:focus::before {
  transform: scale(0);
}

.btn-plan-submenu {
  z-index: 1;
  overflow: hidden;
  background-color: whitesmoke;
  transition: color 70ms ease-in-out;
}

.btn-plan-submenu:hover,
.btn-plan-submenu:focus {
  color: var(--font-plain-color);
}

/* Mid Pane buttons End*/

/* Start of Rightcontent */

.table-right-content .pln-tbl-content {
  position: relative;
  width: 100%;
  border-style: inset;
}

.table-right-content .pln-tbl-content,
.table-right-content .pln-tbl-content th,
.table-right-content .pln-tbl-content td {
    border-collapse: collapse;
    border: var(--border-size-offset) solid var(--hover-background-color);
    font-size: 0.9em;
    font-weight: bold;
    /*width: 750px;*/
}

.table-right-content .pln-tbl-content th,
.table-right-content .pln-tbl-content td {
    padding: var(--border-size-offset) 5px;
    text-align: center;
    color: whitesmoke;
}

.table-right-content .pln-tbl-content th {
    font-size: large;
    color: whitesmoke;
    background-color: black;
}

.table-right-content .pln-tbl-content tr:nth-child(2) {

    font-size: medium;
    color: black;
    background-color: var(--hover-background-color);
}

.table-right-content .pln-tbl-content tr:nth-child(3) {
    font-weight: bold;
    font-size: 1.5rem;
}

.table-right-content .pln-tbl-content tr:nth-child(3) td:nth-child(7) {
    font-weight: bold;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
}
.table-right-content .pln-tbl-content .pln-tablebook {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    height: fit-content;
    width: 100%;
    border-radius: var(--border-radius);
}

.pln-shake {
  font-weight: 900;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  animation: shake .3s;
  animation-delay: 0s;
}

@keyframes shake {

    25%{transform: translateY(4px);}
    50%{transform: translateY(-4px);}
    75%{transform: translateY(4px);}
}


.plan-rightcontent .options-right-box {
  position: relative;
  width: 99%;
  margin: 0px 5px;
  height: fit-content;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-rightcontent .options-right-box .options-right-content {
  text-decoration: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.plan-rightcontent .options-right-box .options-right-content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
}

.plan-rightcontent .heading-right-box {
  position: relative;
  width: 99%;
  margin: 2px 5px;
  height: fit-content;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-rightcontent .heading-right-box .heading-right-content {
  text-decoration: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.plan-rightcontent .heading-right-box .heading-right-content h3 {
  color: #fff;
  font-size: 2em;
}

/* End of Rightcontent */
