/* Variables Declaration */
* {
--delta: 22%;
--theme-blue-color: #00d8ff;
--font-hover-color: whitesmoke;
--font-plain-color: #d4af37;
--border-size-offset: 2px;
--accent-color: black; /*white*/
--hover-background-color: #d4af37; /*#222222*/
}


/* Planner's Grid Start */

.plan-grid {
  display: grid;
  padding: 78px 0 0;
  grid-template-columns: 22% auto 1fr;
  grid-template-areas: "plan-sidebar plan-midmenu plan-rightcontent"
                       "plan-notesection plan-notesection plan-notesection"
                       "plan-footer plan-footer plan-footer";
}

.plan-sidebar {
  grid-area: plan-sidebar;
  display: flex;
  position: relative;
  height: auto;
  background-color: var(--accent-color);
  justify-content: center;
}

.plan-midmenu {
  grid-area: plan-midmenu;
  position: relative;
  height: auto;
  background-color: var(--accent-color);
  padding-bottom: 1rem;
}

.plan-rightcontent {
  grid-area: plan-rightcontent;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--accent-color);
  gap: 5px;
}

/*.plan-rightcontent {
  grid-area: plan-rightcontent;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10%, 10%, 60%, 20%;
  grid-template-areas: "options-right-box"
                       "heading-right-box"
                       "table-right-box"
                       "placevisit-right-box";
  position: relative;
  background-color: var(--accent-color);
}

.options-right-box {
  grid-area: options-right-box;
}

.heading-right-box {
  grid-area: heading-right-box;
}

.table-right-box {
  grid-area: table-right-box;
}

.placevisit-right-box {
  grid-area: placevisit-right-box;
}*/

.plan-notesection {
  grid-area: plan-notesection;
}

.plan-footer {
  grid-area: plan-footer;
}

/* Planner's Grid End */

/* Side Pane buttons  and h3 tag Start*/

  .centered-planner {
    position: relative;
    top: 0;
    text-align: center;
  }

  .centered-planner ul li {
    font-weight: 500;
    padding: 6px;
  }

  .centered-planner h3 {
    position: relative;
    padding: 3px;
    color: whitesmoke;
  }

  .centered-planner h3::before {
    content: "";
    position: absolute;
    left: var(--delta)+3;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #1a1b1b, #a9bbbe);
  }

  .btn-plan-style {
    background-color: var(--hover-background-color);
    color: var(--font-plain-color);
    padding: var(--border-size-offset);
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
  }

  .btn-plan-style::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1.5);
  }
  
  .btn-plan-style:hover::before,
  .btn-plan-style:focus::before {
    transform: scale(0);
  }
  
  .btn-plan-style {
    z-index: 1;
    overflow: hidden;
    background-color: whitesmoke;
    transition: color 70ms ease-in-out;
  }
  
  .btn-plan-style:hover,
  .btn-plan-style:focus {
    color: var(--font-plain-color);
  }

  .btn-plan-style.active::before {
    color: var(--font-plain-color);
    transform: scale(0);
  }

/* Side Pane buttons  and h3 tag End*/

 /* Mid Pane buttons Start*/

 .plan-btn-pane {
  display: flex;
  margin: 5px 5px 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  position: relative;
  font-weight: 500;
  justify-content: left;
  align-items:flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  gap: 5px;
}

.plan-btn-pane h3 {
  position: relative;
  padding: 3px;
  font-size: 1.5rem;
  color: whitesmoke;
}

.plan-btn-pane h3::before {
  content: "";
  position: absolute;
  left: var(--delta)+3;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #a9bbbe, #1a1b1b);
}

.btn-plan-submenu {
  background-color: var(--hover-background-color);
  font-size: 1.2rem;
  color: var(--font-plain-color);
  padding: var(--border-size-offset);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
 }

 .btn-plan-submenu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;
  transform: scale(1.5);
}

.btn-plan-submenu:hover::before,
.btn-plan-submenu:focus::before {
  transform: scale(0);
}

.btn-plan-submenu {
  z-index: 1;
  overflow: hidden;
  background-color: whitesmoke;
  transition: color 70ms ease-in-out;
}

.btn-plan-submenu:hover,
.btn-plan-submenu:focus {
  color: var(--font-plain-color);
}

.btn-plan-submenu.active::before {
  color: var(--font-plain-color);
  transform: scale(0);
}

/* Mid Pane buttons End*/

/* Start of Rightcontent */

.table-right-content {
  position: relative; 
}

.table-right-content .pln-tbl-content {
  width: 100%;
  border-collapse: collapse;
}

.table-right-content .pln-tbl-content thead {
  background-color: #00d8ff;
}

.table-right-content .pln-tbl-content thead tr th {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 12px;
  text-align: center;
  vertical-align: top;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.table-right-content .pln-tbl-content tbody tr td {
  font-size: 1.2rem;
  letter-spacing: 400;
  font-weight: normal;
  color: #f1f1f1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .table-right-content .pln-tbl-content .head {
    display: none;
  }
  .table-right-content .pln-tbl-content,
  .table-right-content .pln-tbl-content tbody,
  .table-right-content .pln-tbl-content tr,
  .table-right-content .pln-tbl-content td {
    display: block;
    width: 100%;
  }
  .table-right-content .pln-tbl-content tr {
    margin-bottom: 15px;
  }
  .table-right-content .pln-tbl-content tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table-right-content .pln-tbl-content td::before {
    content: attr(table-data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
  }
}

.table-right-content .pln-tbl-content tbody tr td .pln-tablebook {
  width: 100%;
  text-decoration: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  line-height: 15px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  color: #00d8ff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  opacity: 1;
}

/*-------------------Table End-----------------------*/

.pln-shake {
  font-weight: 900;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  animation: shake .3s;
  animation-delay: 0s;
}

@keyframes shake {

    25%{transform: translateY(4px);}
    50%{transform: translateY(-4px);}
    75%{transform: translateY(4px);}
}


.plan-rightcontent #planner-right-container .options-right-box {
  position: relative;
  width: 100%;
  margin: 5px 0 0;
  height: fit-content;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content {
  text-decoration: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
}

.plan-rightcontent .heading-right-box {
  position: relative;
  width: 100%;
  margin: 5px 0 0;
  height: fit-content;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-rightcontent .heading-right-box .heading-right-content {
  text-decoration: none;
  padding: 10px;
  opacity: 1;
}

.plan-rightcontent .heading-right-box .heading-right-content h3 {
  color: #fff;
  font-size: 2em;
}

.plan-rightcontent .placevisit-right-box {
  position: relative;
  width: 100%;
  margin: 2px 0px 10px;
  height: fit-content;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-rightcontent .placevisit-right-box .placevisit-right-content {
  text-decoration: none;
  padding: 10px;
  opacity: 1;
}

.plan-rightcontent .placevisit-right-box .placevisit-right-content p {
  color: #fff;
  font-size: 1.25rem;
}

/* End of Rightcontent */


/*Plan Note Container Start*/

.plan-note-container {
  margin: 0;
  padding: 10px;
  position: relative;
}

.plan-note-container .plan-note {
  display: none;
}

.plan-note-container .plan-note.active {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.technoplan {
  position: relative;
}

.technoplan::after {
  content: '|';
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255, 0.5);
  width: 100%;
  animation: technoplan 3s steps(4) alernate infinite,
             line 0.5s infinite;
}

@keyframes technoplan {
  to { width: 0%;}
}

@keyframes line {
  50% { color: rgb(255, 255, 255, 0);}
}

.plan-note-container .plan-note.active h4 {
  color: whitesmoke;
  font-weight: 900;
  margin: 10px 10px 10px 10px;
}

.plan-note-container .plan-note.active ol {
  color: white;
  margin: 10px 10px 10px 10px;
}

.plan-note-container .plan-note.active ul {
  color: white;
  margin: 10px 10px 10px 10px;
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content {
  display: flex;
  gap: 20px;
}
.plan-rightcontent #planner-right-container .options-right-box .options-right-content .options-button {
  display: flex;
  position: relative;
  padding: 0;
  left: 0%;
  background: #00d8ff;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all;
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content .options-button:hover {
  background: #00d8ff;
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content .options-button:active {
  background: #34defc;
  transform: scale(.95);
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content .options-button .button__content {
  position: relative;
  padding: 0 5px 0;
  color: black;
}

.plan-rightcontent #planner-right-container .options-right-box .options-right-content .options-button .button__icon {
  position: relative;
  padding: 8px 5px 0;
  font-size: 2.5rem;
  color: aqua;
  background: linear-gradient(to right, rgb(67,124,205), rgb(69,214,202));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}